@{
    ViewData["Title"] = "Dodaj doktora";
}
@model DoctorViewModel
<form asp-action="Create" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3>
        Novi doktor
    </h3>
    <div class="form-group">
        <label asp-for="Name">Ime:</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Surname">Prezime:</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="form-group">
        <label asp-for="EMail">E-Mail Adresa:</label>
        <input type="text" class="form-control" asp-for="EMail">
    </div>
    <div class="form-group">
        <label asp-for="Password">Lozinka:</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Potvrdite lozinku</label>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" class="form-control" />
        <span asp-validation-for="PostCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CityName"></label>
        <input asp-for="CityName" class="form-control" />
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryID"></label>
        <select asp-for="CountryID" asp-items="@ViewBag.Items" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="About">Kratka biografija:  </label>
        <textarea asp-for="About" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Education">Obrazovanje: </label>
        <input type="text" class="form-control" asp-for="Education">
    </div>
    <div class="form-group">
        <label asp-for="Title">Titula:</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>

    <div class="col">
        <h3>Specijalizacija</h3>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.SpecializationType, "existing", new { Class = "form-check-input", Id = "ExistingRadio", Name = "SpecializationType" })
                        <label class="form-check-label" for="ExistingRadio">Odaberi postojeću specijalizaciju</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.SpecializationType, "new", new { Class = "form-check-input", Id = "NewRadio", Name = "SpecializationType" })
                        <label class="form-check-label" for="NewRadio">Dodaj novu specijalizaciju</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="docSelectSpecialization">
            <label asp-for="SpecializationId">Specijalizacija</label>
            <select asp-for="SpecializationId" asp-items="@(new SelectList((IEnumerable<Specialization>) @ViewData["Specializations"], "SpecializationId", "SpecializationName"))" class="form-control"></select>
        </div>
        <div class="form-group" id="docCreateSpecialization" style="display: none">
            <div class="form-group">
                <label asp-for="Specialization.SpecializationName">Ime </label>
                <input type="text" class="form-control" asp-for="Specialization.SpecializationName">
            </div>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Dodaj</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Odustani</button>
    </a>
</form>
