@model Medication
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail" > 
        <img src="~/images/capsule.png" style="min-height:150px;height:150px;"/>
        <div class="caption">
            @if (User.IsInRole("Admin"))
            {
                if (Model.Quantity < 5 || Model.DateExpires<=DateTime.Now)
                {
                    <h3 class="pull-right">
                        <a asp-controller="Drug" asp-action="Edit"
                           asp-route-id="@Model.DrugId"><img class="pull-right" src="~/images/warning.png" alt="" width="35" height="35" /></a>
                    </h3>

                }

            }
            else if (User.IsInRole("User"))
            {
                <h3 class="pull-right">
                    <a asp-controller="Cart" asp-action="AddToCart"
                       asp-route-drugId="@Model.DrugId"><img class="pull-right" src="~/images/cart.png" alt="" width="35" height="35" /></a>
                </h3>

            }

            <h3>
                <a asp-controller="Drugs" asp-action="Show" asp-route-id="@Model.DrugId">@Model.DrugName @Model.Package.IndividualSize@Model.Package.Measure.MeasureName</a>
                @Model.Price.ToString() @Model.Currency.CurrencyName.ToString()
            </h3>
            <!--<p>Model.ShortDescription</p>-->
        </div>
    </div>
</div>