@model DrugData.Models.ViewModels.EditDrugViewModel

<form asp-action="Update" asp-route-id="@Model.Drug.DrugId" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (@ViewData["Success"] != null)
    {
        <div class="alert alert-success">Lijek spremljen</div>
    }
    <h2>Uredi</h2>

    <div class="form-group">
        <label asp-for="Drug.DrugName">Naziv</label>
        <input asp-for="Drug.DrugName" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Drug.DateProduced">Datum proizvodnje</label>
        <input asp-for="Drug.DateProduced" class="form-control" />
    </div>
    <div class="form-group">
        @if (Model.Drug.DateExpires <= DateTime.Now)
        {
            <label asp-for="Drug.DateProduced"><font color="red">Datum isteka valjanosti</font></label>

        }
        else
        {
            <label asp-for="Drug.DateExpires">Datum isteka valjanosti</label>

        }
        <input asp-for="Drug.DateExpires" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Drug.Price">Cijena</label>
        <input asp-for="Drug.Price" id="da" class="form-control" />
        <div class="form-group">
            <label asp-for="CurrencyId">Valuta</label>
            <select asp-for="CurrencyId" asp-items="@(new SelectList((IEnumerable<Currency>) @ViewData["Currencies"],"CurrencyId", "CurrencyName"))" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Drug.ImagePath">Slika</label>
        <input asp-for="Drug.ImagePath" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Drug.Usage">Uporaba</label>
        <input asp-for="Drug.Usage" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PackageId">Pakiranje</label>
        <select asp-for="PackageId" asp-items="@(new SelectList((IEnumerable<Package>) @ViewData["Packages"],"PackageId", "PackageData"))" class="form-control"></select>
    </div>
    <div class="form-group">

        @if (Model.Drug.Quantity < 5)
        {
            <label asp-for="Drug.Quantity"><font color="red">Količina</font></label>
        }
        else
        {
            <label asp-for="Drug.Quantity">Količina</label>
        }
        <input asp-for="Drug.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryIds">Bolesti</label>
        <select multiple asp-for="CategoryIds" asp-items="@(new SelectList((IEnumerable<Disease>) @ViewData["Categories"], "DiseaseId", "DiseaseName"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="SideEffectIds">Moguće nuspojave</label>
        <select multiple asp-for="SideEffectIds" asp-items="@(new SelectList((IEnumerable<SideEffect>) @ViewData["SideEffects"], "SideEffectId", "SideEffectName"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="z">Zamjenski proizvodi? </label>
        <select name="z">
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
    </div>



    <div class="form-group">
        <label asp-for="DrugIds">Zamjenski proizvodi</label>
        <select multiple asp-for="DrugIds" asp-items="@(new SelectList((IEnumerable<Medication>) ViewData["Drugs"], "DrugId", "DrugName"))" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="ManufacturerId">Proizvođač</label>
        <select asp-for="ManufacturerId" asp-items="@(new SelectList((IEnumerable<Manufacturer>) @ViewData["Manufacturers"],"ManufacturerId", "ManufacturerName"))" class="form-control"></select>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>


<style>
    #da {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 35px display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

