@model DrugData.Models.ViewModels.EditDrugViewModel

<form asp-action="Update" asp-route-id="@Model.Drug.DrugId" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (@ViewData["Success"] != null)
    {
        <div class="alert alert-success">Lijek spremljen</div>
    }
    <h2>Uredi</h2>

    <div class="form-group">
        <label asp-for="Drug.DrugName">Naziv</label>
        <input asp-for="Drug.DrugName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Drug.DateProduced">Datum proizvodnje</label>
        <input asp-for="Drug.DateProduced" class="form-control" />
    </div>
    <div class="form-group">
        @if (Model.Drug.DateExpires <= DateTime.Now)
        {
            <label asp-for="Drug.DateProduced"><font color="red">Datum isteka valjanosti</font></label>

        }
        else
        {
            <label asp-for="Drug.DateExpires">Datum isteka valjanosti</label>

        }
        <input asp-for="Drug.DateExpires" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Drug.Price">Cijena</label>
        <input asp-for="Drug.Price" class="form-control" />
        <div class="form-group">
            <label asp-for="CurrencyId">Valuta</label>
            <select asp-for="CurrencyId" asp-items="@(new SelectList((IEnumerable<Currency>) @ViewData["Currencies"],"CurrencyId", "CurrencyName"))" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Drug.Usage">Uporaba</label>
        <input asp-for="Drug.Usage" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PackageId">Pakiranje</label>
        <select asp-for="PackageId" asp-items="@(new SelectList((IEnumerable<Package>) @ViewData["Packages"],"PackageId", "PackageType"))" class="form-control"></select>
    </div>
    <div class="form-group">

        @if (Model.Drug.Quantity < 5)
        {
            <label asp-for="Drug.Quantity"><font color="red">Količina</font></label>
        }
        else
        {
            <label asp-for="Drug.Quantity">Količina</label>
        }
        <input asp-for="Drug.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryIds">Bolesti</label>
        <select multiple asp-for="CategoryIds" asp-items="@(new SelectList((IEnumerable<Disease>) @ViewData["Categories"], "DiseaseId", "DiseaseName"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="SideEffectIds">Moguće nuspojave</label>
        <select multiple asp-for="SideEffectIds" asp-items="@(new SelectList((IEnumerable<SideEffect>) @ViewData["SideEffects"], "SideEffectId", "SideEffectName"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="z">Zamjenski proizvodi? </label>
        <select name="z">
            <option value="true">Da</option>
            <option value="false">Ne</option>
        </select>
    </div>



    <div class="form-group">
        <label asp-for="DrugIds">Zamjenski proizvodi</label>
        <select multiple asp-for="DrugIds" asp-items="@(new SelectList((IEnumerable<Medication>) ViewData["Drugs"], "DrugId", "DrugName"))" class="form-control"></select>
    </div>

    <div class="col">
        <h3>Proizvođač</h3>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.ManufacturerType, "existing", new { Class = "form-check-input", Id = "ExistingRadio", Name = "ManufacturerType" })
                        <label class="form-check-label" for="ExistingRadio">Odaberi postojećeg proizvođača</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.ManufacturerType, "new", new { Class = "form-check-input", Id = "NewRadio", Name = "ManufacturerType" })
                        <label class="form-check-label" for="NewRadio">Dodaj novog proizvođača</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="drugSelectManufacturer">
            <label asp-for="ManufacturerId">Proizvođač</label>
            <select asp-for="ManufacturerId" asp-items="@(new SelectList((IEnumerable<Manufacturer>) @ViewData["Manufacturers"], "ManufacturerId", "ManufacturerName"))" class="form-control"></select>
        </div>
        <div class="form-group" id="drugCreateManufacturer" style="display: none">
            <div class="form-group">
                <label asp-for="Manufacturer.ManufacturerName">Ime </label>
                <input type="text" class="form-control" asp-for="Manufacturer.ManufacturerName">
            </div>

            <div class="form-group">
                <label asp-for="Manufacturer.About">O proizvođaču </label>
                <textarea asp-for="Manufacturer.About" class="form-control"></textarea>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>

</form>

<script>
    ﻿$(document).ready(function () {
    var $registerRadios = $('input[name="ManufacturerType"]');
    if ($registerRadios.length) {
        showManufacturerView();
        $registerRadios.on('change', function (e) {
            showManufacturerView();
        })
    }
 });


function showManufacturerView() {
    var value = $('input[name="ManufacturerType"]:checked').first().val();
    if (value === "new") {
        $('#drugCreateManufacturer').show();
        $('#drugSelectManufacturer').hide();
    } else {
        $('#drugCreateManufacturer').hide();
        $('#drugSelectManufacturer').show();
    }
}

</script>
