@model Medication

<div class="text-center">
    <h1>
        @Model.DrugName.ToString() @if (Model.Package.PackageType == "Tablete")
        {
            @Model.DrugSize.ToString()


        }
    </h1>
</div>
<!--<h2>Proizvođač: Model.Manufacturer.Name</h2>-->
<h2>Proizvedeno: @Model.DateProduced</h2>
<h2>Rok trajanja: @Model.DateExpires</h2>
<h2>Količina: @Model.Quantity</h2>
<h2>Cijena: @Model.Price @Model.Currancy.CurrencyName.ToString()</h2>
<h2>Proizvođač: @Model.Manufacturer.ManufacturerName</h2>
<h2>Pakiranje: @Model.Package.PackageType.ToString()</h2>
<h2>Veličina pakiranja: @Model.PackageSize.ToString()</h2>



<h2>
    Primjenjivo za tipove bolesti: @foreach (DrugDisease c in Model.DrugDiseases)
    {
        <h3>@c.Disease.DiseaseName</h3>
    }
</h2>

<h2>
    Moguće nuspojave: @foreach (DrugSideEffect c in Model.DrugSideEffects)
    {
        <h3>@c.SideEffect.SideEffectName</h3>
    }
</h2>

<h2>
    Komentari: @foreach (Comment c in Model.Comments)
    {
        <h3>
            @c.User.Surname
            <td class="text-center"><a asp-action="EditComment" asp-route-id="@c.CommentId">@c.Content</a></td>

        </h3>
    }
</h2>
@if (Model.Substitutions.Count > 0)
{
    <h2>
        Zamjenski proizvodi: @foreach (Medication c in Model.Substitutions)
        {
            <h3>
                <a asp-action="Show" asp-route-id="@c.DrugId">@c.DrugName</a>
            </h3>
        }
    </h2>

}



<div class="text-center">
    <a asp-action="Index" class="btn btn-primary">OK</a>
</div>
